html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.register-2020 {
    font-size: 1.9rem;
    text-transform: uppercase;
    padding-top: 30px;
    font-family: "Jaapokki Regular";
    color: #fff;
}

.register-2020 a {
    text-decoration: underline;
    color: #fff;
}

.reg-2020 {
    margin-bottom: 40px;
}

.speaker-extra {
    padding: 0 !important;
    padding-right: 5px !important;
    padding-top: 5px !important;
}

.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

#speaker-extra-title {
    font-family: "Jaapokki Regular";
    color: #006892;
    font-size: 20px;
    font-weight: bold;
}

#speaker-extra-blurb {
    color: #58686f;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: bold;
}

#speaker-extra-bio {
    color: rgb(33, 37, 41, .8);
    font-size: 16px;
    font-family: Quicksand;
}

.agenda-wrap-2020 {
    margin-bottom: 20px;
}

.gs2020-date {
    font-family: Quicksand;
    color: #006892;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}

.main-title-2020 {
    color: #b0d0de;
    font-family: "Jaapokki Regular";
    text-transform: uppercase;
    text-align: right;
    width: 100%;
    font-size: 3.5rem;
    padding-top: 90px;
}

.location-2020 {
    color: #ee4036;
    font-size: 23px;
    font-family: Quicksand;
}

#aviva-image:hover {
    cursor: pointer;
}

.location-blurb-2020 p {
    font-family: Quicksand;
    color: #006892;
    font-size: 15px;
    font-weight: bold;
    background: rgba(255, 255, 255, .1);
}

.agenda-blurbs-2020 p,
.agenda-blurbs-2020 {
    font-family: Quicksand;
    color: #006892;
    font-size: 18px;
    margin-bottom: 0px;
}

.agenda-blurbs-2020 p {
    font-weight: 600;
}

.agenda-blurbs-2020 {
    font-weight: bolder;
}

.container-speaker {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: transform .02s ease-in-out;
    -moz-transition: transform .02s ease-in-out;
    transition: transform .02s ease-in-out;
    margin: auto;
}

.container-speaker img {
    -webkit-transition: transform .02s ease-in-out;
    -moz-transition: transform .02s ease-in-out;
    transition: transform .02s ease-in-out;
}

.speaker-wrap-2020 {
    padding-top: 9px;
    position: absolute;
    background: rgba(0, 104, 146, 0.5);
    bottom: 0px;
    padding-right: 9px;
    padding-left: 9px;
    max-width: 300px;
    min-height: 80px;
    right: 0;
    left: 0;
    margin: auto;
}

#speaker-extra-image {
    margin-bottom: 20px;
}

.zoom {
    -webkit-transition: transform 0.9s ease-in-out !important;
    -moz-transition: transform 0.9s ease-in-out !important;
    transition: transform 0.9s ease-in-out !important;
}


/* .row {
    width: 100%;
} */

.zoom:hover {
    transform: scale(1.1);
}

.speaker-title-2020 {
    font-family: "Jaapokki Regular";
    color: #fff;
    font-size: 13px;
    margin-bottom: 4px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.speaker-blurbs-2020 {
    font-size: 12px;
    font-family: Quicksand;
    color: #fff;
    margin-bottom: 9px;
    font-weight: bold;
    text-align: left;
}

.crowd2020 {
    min-height: 1000px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("/wp-content/uploads/2019/11/crowd-scaled.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.speakers2020 {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background-image: url("/wp-content/uploads/2019/11/baseline-scaled.png");
    border-bottom: solid 4px #006892;
    background-position: center bottom;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.speakers2020 .main-title-2020 {
    margin-bottom: 40px;
}

.aviva2020 {
    background-image: url("/wp-content/uploads/2019/11/aviva.png");
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#home2020 {
    margin-top: 69px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: rgba(4, 95, 132, 0.96);
}

.gs2020-intro {
    color: #fff;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: Quicksand;
}

.co-hosts-image-2020 {
    border-top: solid 1px rgba(255, 255, 255, .6);
}

.co-host-text-2020 {
    color: rgba(255, 255, 255, .6);
}

.home-logo-2020 {
    padding: 30px;
}

#venue2020 {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 1000px;
    background-image: url("/wp-content/uploads/2019/11/avivaframe-scaled.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-margin {
    margin: none !important;
}

.center-block {
    display: block;
    margin: auto;
    vertical-align: middle;
}